.product-detail {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #919191;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail__header {
  display: flex;
  justify-content: center;
}

.product-detail__icon-star {
  margin-left: 10px;
  font-size: 12px;
  color: #ff932e;
  display: flex;
}

.product-detail__icon-star i {
  margin: 2px;
}

.product-detail__evaluate {
  margin-left: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.product-detail__body {
  margin-top: 20px;
}

.product-detail__item-img {
  width: 400px;
  object-fit: contain;
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
  border-radius: 5px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.product-detail__price {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-detail__price-new {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
}
.product-detail__price-old {
  margin-left: 12px;
  color: #737271;
  text-decoration: line-through;
}

.product-detail__buying-btn {
  width: 50%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: var(--primary-color);
}

.product-detail__add-cart {
  width: 50%;
  height: 40px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(19, 16, 16);
  background-color: #c5c5c5;
}

.product-detail__info-header {
  height: 40px;
  display: flex;
  align-items: center;
}

.product-detail__info {
  box-shadow: 0 0 4px rgb(0 0 0 / 30%);
  border-radius: 10px;
}

.product-detail__table {
  box-shadow: 0 0 2px rgb(0 0 0 / 30%);
  border-radius: 10px;
  margin: 12px;
}

.product-detail__box {
  padding: 12px;
  border-collapse: collapse;
}

.product-detail__box tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.product-detail__box th {
  padding: 10px 18px;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .app {
    overflow: hidden;
  }
  .product-detail__info {
    margin: 12px;
  }
  .c-6 {
    width: 100%;
  }
}

@media (max-width: 739px) {
  .c-6 {
    width: 100%;
  }
  .product-detail__info {
    margin: 12px;
  }
}
