<!-- Footer -->
<div class="grid wide">
  <div class="row tablet__footer footer">
    <div class="row footer__information__row__last">
      <p>
        Công ty TNHH Thương mại và dịch vụ kỹ thuật Thọ Tuấn Dương - GPĐKKD:
        0123456789 do sở KH & ĐT TP. HCM cấp ngày 02/03/2020. Địa chỉ: 367-369
        Quang Trung, Phường 10, Quận Gò Vấp, Thành phố Hồ Chí Minh, Việt Nam.
        Điện thoại: 038.88854.075.
      </p>
      <div class="row footer__certification">
        <div class="footer__certification__img__wrapper">
          <img
            src="https://ut.edu.vn/public/img/images/Tin2017/7-11%20Nhan%20dien%20thuong%20hieu.jpg"
            alt=""
          />
          <span class="footer__certification-text"
            >Đại Học GTVT TP.Hồ Chí Minh
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer-information -->
