<ul class="user-detail__list">
    <li class="user-detail__item user-detail__item--active">
        <a href="" class="user-detail__slide-bar">
            <i class="user-detail__slide-bar-icon far fa-user-circle"></i>
            Tài khoản của bạn</a>
    </li>
    <li class="user-detail__item">
        <a href="" class="user-detail__slide-bar"><i class="user-detail__slide-bar-icon fas fa-users-cog"></i>
            Hỗ trợ</a>
    </li>
    <li class="user-detail__item">
        <a href="feedback.html" class="user-detail__slide-bar">
            <i class="user-detail__slide-bar-icon far fa-file-alt"></i>Góp
            ý-Phản hồi</a>
    </li>
    <li class="user-detail__item">
        <a href="" class="user-detail__slide-bar">
            <i class="user-detail__slide-bar-icon fas fa-sign-out-alt"></i>Thoát tài khoản</a>
    </li>
</ul>